.custom-block
  .custom-block-title
    font-weight 700
    margin-bottom -0.4rem
  &.tip, &.warning, &.danger
    padding .1rem 1.5rem
    border-left-width .5rem
    border-left-style solid
    margin 1rem 0
  &.tip
    background-color #f3f5f7
    border-color #1c78e6
  &.warning
    background-color rgba(255,229,100,.3)
    border-color darken(#ffe564, 35%)
    color darken(#ffe564, 70%)
    .custom-block-title
      color darken(#ffe564, 50%)
    a
      color $textColor
  &.danger
    background-color #ffe6e6
    border-color darken(red, 20%)
    color darken(red, 70%)
    .custom-block-title
      color darken(red, 40%)
    a
      color $textColor

pre.vue-container
  border-left-width: .5rem;
  border-left-style: solid;
  border-color: $accentColor;
  border-radius: 0px;
  & > code
    font-size: 14px !important;
    & > p
      margin: -5px 0 -20px 0;
    code
      background-color: $accentColor !important;
      border none
      padding: 3px 5px;
      border-radius: 3px;
      color #000
    em
      color #adadad
      font-weight light

.language-text.line-numbers-mode, .language-.line-numbers-mode, .language-shell.line-numbers-mode
  .line-numbers-wrapper
    display none
  &::after
    display none
  pre
    padding-left 2rem !important

.language-shell.line-numbers-mode
  pre::before
    color #808080
    margin-right 10px
    content "$"

.inline-step
  background $accentColor
  color: white;
  border-radius 100%
  width 1.6rem
  height 1.6rem
  font-weight 700
  font-size 14px
  display inline-flex
  align-items center
  justify-content center
  margin-right 5px

.with-steps .content__default
  position relative

  .step
    background $accentColor
    color: white;
    border-radius 100%
    font-size 15px
    width 1.5rem
    height 1.5rem
    display inline-flex
    align-items center
    justify-content center
    position absolute
    right 0
    margin-right 32px
    margin-top 6px
