body
  background-color #f7fafc
  font-family "Source Sans Pro"

.home .hero img
  margin-bottom 0

.home .hero h1
  margin : 0.2rem auto;
  font-size : 2.5rem;

.home .hero .description
  margin : 0.4rem auto;
  font-size : 1.1rem;

.home .hero .action-button
  font-size : 1rem;
  padding : 0.7rem 1.3rem;